{% extends 'base.html.twig' %}

{% block title %}➕ {{ title|default('Новая запись') }}{% endblock %}

{% block body %}
    <a href="{{ backUrl }}" class="btn-back">← Назад</a>

    {{ form_start(form, {
        attr: { 'novalidate': 'novalidate' }
    }) }}
        {% for child in form.children if child.vars.name != '_token' %}
            <div class="form-group">
                {{ form_label(child) }}
                {{ form_widget(child) }}
                {% if child.vars.errors|length %}
                    <div class="alert alert-danger">
                        <ul class="errors">
                            {% for error in child.vars.errors %}
                                <li>{{ error.message }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                {% endif %}
            </div>
        {% endfor %}

        <button type="submit"> {{ submitText|default('Создать') }}</button>
    {{ form_end(form) }}
{% endblock %}